.Rproj.user
inst/doc
src/eDNAjoint.so
src/RcppExports.o
src/stanExports_joint_binary_catchability_gamma.o
src/stanExports_joint_binary_catchability_negbin.o
src/stanExports_joint_binary_catchability_pois.o
src/stanExports_joint_binary_cov_catchability_gamma.o
src/stanExports_joint_binary_cov_catchability_negbin.o
src/stanExports_joint_binary_cov_catchability_pois.o
src/stanExports_joint_binary_cov_gamma.o
src/stanExports_joint_binary_cov_negbin.o
src/stanExports_joint_binary_cov_pois.o
src/stanExports_joint_binary_gamma.o
src/stanExports_joint_binary_negbin.o
src/stanExports_joint_binary_pois.o
src/stanExports_traditional_catchability_gamma.o
src/stanExports_traditional_catchability_negbin.o
src/stanExports_traditional_catchability_pois.o
src/stanExports_traditional_gamma.o
src/stanExports_traditional_negbin.o
src/stanExports_traditional_pois.o
.Rhistory
eDNAjoint.Rproj
